<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="login" parameterType="user" resultType="user">
        select id,account,nick_name,signature,head_url from user where account = #{account} and password = #{password}
    </select>

    <insert id="sign" parameterType="user">
        insert into user (account,nick_name,password,signature,head_url) values(#{account},#{nickName},#{password},#{signature},#{headUrl})
    </insert>
</mapper>